 body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'open sans','arial';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
    }
    
    .wrapper {
    	height: 100% !important;
    	height: 100%;
    }
    
       
   
    h1 {
      color: #000;
      font-size: 70px;
      letter-spacing: -4px;
      font-weight: 100;
    }
   
    h2 {
      color: #6D461D;
      font-weight: 100;
    }
    
	 h3 {
      color: #6D461D;
      font-weight: 100;
    }
	
	h4 {
      color: #6D461D;
      font-weight: 100;
    }

 h5 {
      color: #000000;
      font-weight: 100;
    }

h6 {
      color: #000000;
      font-weight: 150;
    }
    
    .back {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      font-size: 13px;
      color: #000;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
    
    
   
    
    
    .main section.page1 {
      background: url(xxxtilted-phone.png) no-repeat 156px -150px ;
    }
    .main section.page1 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 15px;
      font-size: 70px;
      color: black;
    }
    .main section.page1 h2 {
      color: rgba(0,0,0,0.85);
      text-align: center;
      width: 435px;
      line-height: 100%;
    }
 .main section.page1 h5 {
      text-align: center;
      padding: 0;
      margin-bottom: 0px;
      font-size: 20px;
      color: white;
    }
 
   
    .main section.page2 {
      background: #78BF36 url(xxxback-phone.png) no-repeat center -150px ;
    }
	
	
    .main section.page2 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px;
    }
    .main section.page2 .page_container {
      margin-top: 50px;
      overflow: hidden;
    }
    .main section.page2 h1 {
      text-align: center;
      padding: 0;
      margin-bottom: 15px;
      font-size: 50px;
      letter-spacing: -1px;
      color: white;
    }
    .main section.page2 h2 {
      color: rgba(255,255,255,0.85);
      text-align: center;
      line-height: 160%;
      font-weight: 100;
    }
  
    .main section.page3 {
	  background:rgba(255, 255, 255,0.8);
	  
    }
   
    .main section.page3 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
	  margin-left: 0px;
      font-size: 70px;
      letter-spacing: -1px;
      color: black;
    }
    .main section.page3 h2 {
      color: rgba(0,0,0,0.85);
      text-align: center;
	  	  margin-left: 0px;
      line-height: 100%;
      font-weight: 100;
      font-size: 21px;
    }
    	 .main section.page4 {
			 	  background:rgba(255, 255, 255,0.1);


    }
    .main section.page4 h1 {
      text-align: right;
	  margin-right: 40px;
      padding: 0;
      margin-bottom: 3px;
      font-size: 40px;
      color: black;
    }
    .main section.page4 h3 {
      color: rgba(0,0,0,0.85);
      text-align: right;
	  margin-right: 40px;
      width: 435px;
      line-height: 100%;
    }
	
	  .main section.page4 h4 {
      color: rgba(0,0,0,0.85);
      text-align: right;
	  margin-right: 0px;
	  font-size: 45px;
      width: 435px;
      line-height: 200%;
    }
	

	  .main section.page4 h5 {
      color: rgba(0,0,0,0.85);
      text-align: right;
	  margin-right: 40px;
	  font-size: 20px;
      width: 435px;
      line-height: 150%;
    }


 .main section.page5 {
      background: #000000 url(https://cdn.pbrd.co/images/GQyWCxa.jpg) no-repeat center;
	       opacity: 1;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


    }
	
	
    .main section.page5 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px;
    }
    .main section.page5 .page_container {
      margin-top: 50px;
      overflow: hidden;
    }
    .main section.page5 h1 {
	  color: rgba(0,0,0,1);
      text-align: center;
      padding: 0;
      margin-bottom: 15px;
      font-size: 50px;
      letter-spacing: -1px;
      color: white;
    }
    .main section.page5 h2 {
      color: rgba(0,0,0,1);
      text-align: center;
      line-height: 160%;
      font-weight: 100;
    }


  
	
	<!--code i inserted////////////////////////////////
	-->
	
  
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}
body {
    background-color: transparent;
    overflow: hidden;

}
#container {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#container .wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}


/* page structure */
#wrapper {
  display: block;
  max-width: 1500px;
  min-width: 5px;
  margin: 0 auto;
  margin-top: 45px;
}




/* gallery display */
.photos {
  display: block;
}

.photos ul {
  list-style: none;

}

.photos ul li { display: inline; }

.photos ul li a {
  display: block;
  float: left;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 7px;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}







/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/** uncomment to remove lightbox captions 
 *
#lightbox-container-image-data-box {
  display: none !important;
} 
 *
**/

#rotating-item-wrapper {
    position: relative;
    width: 600px;
    height: 600px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}


iframe {
    width: 100%;
    height: 100%;
}

.map-frame {
    width: 50%;
    height: 100%;
    position: relative;
}




.magazine
{
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;

-moz-column-gap:40px; /* Firefox */
-webkit-column-gap:40px; /* Safari and Chrome */
column-gap:20px;

-moz-column-rule:4px outset #ffffff; /* Firefox */
-webkit-column-rule:4px outset #ffffff; /* Safari and Chrome */
column-rule:6px outset #ffffff;
 padding: 20px;
    margin: 5px;
}

























/**
 * James Joyce - One fine day
 * 
 * @author Joshua Baker <http://www.joshuabaker.co.uk/>
 * @version 1.0.0
 */

/* Global */
* {
	margin: 0px;
	padding: 0px;
	border: none;
	list-style: none;


}
body {
    
	background-color: #ffffff;
}


a {
	text-decoration: none;
	color: #a3a3a3;
	-moz-outline: none;
}

	a:link {color:#000000;}    /* unvisited link */
	a:visited {color:#000000;}  /* visited link */
	a:hover {color:#3FE0D0;}   /* mouse over link */
}

p {
	margin-bottom: 15px;
}
hr {
	width: 100%;
	height: 2px;
	margin-bottom: 5px;
	background-image: url('http://behance.vo.llnwd.net/rendition/modules/90114547/disp/6c569286f3b6b289b0ad8fb99c2f230a.gif');
}
.hidden {
	display: none;
}

div.information p, p.no-margin {
  margin-bottom: 5px;
}

/* Header - Menu */
ul#menu a {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 15px;
}
ul#menu a#menu-work {
	background-image: url("assets/images/menu-work.gif");
}
ul#menu a#menu-work:hover {
	background-position-y: -20px;
	background-position: 0 -20px;
}
ul#menu a#menu-profile {
	background-image: url("assets/images/menu-profile.gif");
}
ul#menu a#menu-profile:hover {
	background-position-y: -20px;
	background-position: 0 -20px;
}
ul#menu a#menu-contact {
	background-image: url("assets/images/menu-contact.gif");
}
ul#menu a#menu-contact:hover {
	background-position-y: -20px;
	background-position: 0 -20px;
}
ul#menu a#menu-shop {
	height: 25px;
	background-image: url("assets/images/menu-shop.gif");
}
ul#menu a#menu-shop:hover {
	background-position-y: -25px;
	background-position: 0 -25px;
}

/* Content (vertical-align: middle) */
div#content {
	width: auto !important;
	width: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -280px;
}
div.dots {
	background-image: url('http://behance.vo.llnwd.net/rendition/modules/90114547/disp/6c569286f3b6b289b0ad8fb99c2f230a.gif');
}
div.horizontal {
	width: 100%;
	height: 2px;
}

/* Project List Table (also contains navigation) */
table#project-list {
	table-layout: fixed;
}
table#project-list td {
	vertical-align: auto;
}

/* Project List Table - Divider */
div.divider {
	width: 2px;
	height: 530px;
	background-image: url('http://behance.vo.llnwd.net/rendition/modules/90114547/disp/6c569286f3b6b289b0ad8fb99c2f230a.gif');	
	background-position-x: -2px;
	background-position-y: -3px;
	background-position: -2px -3px;
}

/* Navigation */
div#navigation {
	width: 300px;
}

/* Navigation - Logotype */
div#navigation div#logotype {
	margin: 22px;
}

/* Navigation - Menu */
div#navigation ul {
	position: absolute;
	bottom: 0px;
	margin: 22px;
}

/* Project */
div.block {
	height: 470px !important;
	height: 500px;
	padding: 15px;
}

/* Project - Information */
div.block div.information {
	display: none;
	width: 300px;
	padding: 10px 25px 10px 10px;
	background-color: #ffffff;
	position: absolute;
	z-index: 2;
}
div.block:hover div.information {
	display: block;
}

/* Project - Information - Links */
div.block div.information ul.links {
	margin-top: 20px;
}
div.block div.information ul.links li {
	float: left;
	margin-right: 10px;
}
div.block div.information ul.links li img {
	position: relative;
	top: 2px;
	margin-right: 2px;
}
div.block div.information ul.links li a.red-link:hover {
	color: #ff0000;
}
div.block div.information ul.links li a.blue-link:hover {
	color: #00c6ff;
}

/* Project - Image */
div.block div.image img {
	max-height: 490px;
}

/* Project - Extras */
div.block ul.extras {
	position: relative;
	top: 10px;
}
div.block ul.extras li {
	float: left;
	margin-right: 10px;
}

/* Product Page */
div.image_b img {
	height: auto !important;
	height: 250px;
	max-height: 250px;
	margin-bottom: 10px;
}
div.product-info {
	width: auto !important;
	width: 300px;
	min-width: 300px;
	height: 250px;
}
div.product-info hr {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.product-description {
	float: left;
	width: auto !important;
	width: 300px;
	max-width: 300px;
}
div.product-payment {
	float: right;
	text-align: right;
}

/* Profile Page */
p.profile_client_list_2 {
  margin-top: 35px;
}

/* Shop */
div.shop-images img {
	height: auto !important;
	height: 252px;
	max-height: 252px;
}

/* Links */
a.link-back {
  display: block;
  width: 53px;
  height: 20px;
	background-image: url("assets/images/link-back.gif");
	background-repeat: no-repeat;
}
a.link-archive {
  display: block;
  width: 86px;
  height: 20px;
	background-image: url("assets/images/link-archive.gif");
	background-repeat: no-repeat;
}
a.link-back:hover, a.link-archive:hover {
	background-position-y: -20px;
	background-position: 0 -20px;
}

div.link-archive-holder {
  width: 100px;
  height: 480px;
}
div.link-archive-holder a.link-archive, div.link-archive-holder a.link-back {
  position: absolute;
  bottom: 0px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 22px;
}

div.link-back-holder {
  float: right;
}
div.link-back-holder a.link-back {
  margin-top: -42px;  
}






#map{
    width:800px;
    height:600px;
	z-index:10;
}









.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}





